header {
  height: 100px;
  /* background-color: aquamarine; */
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Nunito";
  color: #3c1b08;
}
.IMG {
  background-image: url("../PNG/Фоны/background.jpg");

  background-size: no-repeat;

  background-position: center;

  background-size: cover;

  height: 100%;

  width: 100%;
}
.back {
  height: 100%;
  background-size: 100%;
  width: 40%;
  margin: 10px;
}
.countainer {
  display: flex;
  flex-direction: row;
}
.elements {
  width: 40%;
  height: 500px;
  margin: 5% 0% 5% 10%;
  /* background-color: brown; */
  padding-left: 5%;
  padding-right: 0%;
}
img {
  height: 600px;
  width:600px;
}
.elements-text {
  width: 40%;
  height: 500px;
  margin: 5% 0% 5% 0%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  margin: 5%;
  color: #3c1b08;
  font-size: 30px;
}
p {
  font-size: 35px;
  color: #3c1b08;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  width: 25%;
}

a {
  text-decoration: none;
}
.paragraf{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
  border: 3px solid black;
  border-radius: 25px ;
  padding-left: 1%;
  padding-right: 1%;
}
.gallereya{
text-align: center;
font-size: 30px;
border: 3px solid black;
border-radius: 25px ;
margin-top: 1%;
width: 82%;
margin-right: 10%;
margin-left: 10%;
margin-bottom: 1%;
}
.gall{
width: 1000px;
}
