header{
    height: 100px;
    background-color: aquamarine;
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%;
}
.IMG{
    background-image: url("/PNG/background.jpg");

            background-size: no-repeat;

            background-position: center;

            background-size: cover;

            height: 100%;

            width: 100%;
}
.back{
    height: 50px;
    background-size: 100%;
    width: 50px;
    background-color: blanchedalmond;
}
.countainer{
    display: flex;
    flex-direction: row;
}
.elements{
    width: 40%;
    height: 500px;
    margin: 5%;
    background-color: brown;
}